﻿@model TodoItem


<form asp-action="AddItem" method="post">

    <label asp-for="Title"> Add a new Item:</label>
    <input asp-for="Title" />
    <label asp-for="DueAt"> Deadline:</label>
    <input type="text" asp-for="DueAt" id="datepicker"/>
    <button type="submit">Add</button>
</form>