﻿@model TodoItemViewmodel
@using Humanizer

@{
    ViewData["Title"] = "Manage your todo List";
}

@section Scripts{
    <script type="text/javascript">
        $(function() {
            $("#datepicker").datepicker({dateFormat: "dd/mm/yy"});
        });
    </script>
}

<div class="card todo-panel">
    <div class="card-header">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714</td>
                <td>Item</td>
                <td>Due</td>
            </tr>
        </thead>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <form asp-action="MarkDone" method="post">
                        <input type="checkbox" class="done-checkbox" />
                        <input type="hidden" name="id" value="@item.Id"/>
                    </form>
                </td>
                <td>@item.Title</td>
                <td>@item.DueAt.Humanize()</td>
            </tr>
        }
    </table>
    <div class="card-footer form-group">
        @await Html.PartialAsync("AddItemPartial", new TodoItem())
    </div>
</div>