﻿@model ManageUsersViewModel

@{
    ViewData["Title"] = "Manage Users";
}

<h2>@ViewData["Title"]</h2>

<h3>Administrators</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var users in Model.Admins)
    {
        <tr>
            <td>@users.Id</td>
            <td>@users.Email</td>
        </tr>
    }
</table>

<h3>Users</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
            <td>Delete User</td>
        </tr>
    </thead>

    @foreach (var users in Model.Users)
    {
        <tr>
            <td>@users.Id</td>
            <td>@users.Email</td>
            <td>
                <form asp-action="DeleteUser" method="post">
                    <input type="hidden" name="id" value="@users.Id" />
                    <button type="submit" class="ui-button">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>